PORT=5000
MONGO_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
FRONTEND_URL=http://localhost:5173

# Optional: Email Configuration for Password Reset
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_EMAIL=your_email
SMTP_PASSWORD=your_password
FROM_NAME=Lumina
FROM_EMAIL=noreply@lumina.com

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_TIpN782kI5uc0k
RAZORPAY_KEY_SECRET=RMQM1GsQrwg1gBfP9Yd04MkU
